markdownify
smolagents
requests
duckduckgo_search
pandas
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
fastapi
uvicorn
gradio
transformers
torch
accelerate>=0.26.0
uvicorn[standard]